{% extends "base.html" %}
{% block content %}
<article class="content">
    <form action="/update" method="post">
        <div id="filas">
            <div class="col col2">
                <h3>Categoría</h3>
                <p><select name="categoria">
                        <option disabled="">Seleccionar categoría ...</option>
                        <option>&nbsp;</option>
                        <option>Terrorismo</option>
                        <option>Data Leak</option>
                        <option>Hacking</option>
                        <option>Cibercrimen</option>
                        <option>Fraude</option>
                        <option>Ciberamenazas</option>
                    </select></p>
            </div>
            <div class="col col2">
                <h3>Subcategoría</h3>
                <p><select name="categoria">
                        <option disabled="">Seleccionar subcategoría ...</option>
                        <option>&nbsp;</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select></p>
            </div>
        </div>
        <div id="limpiado"></div>
        <div id="filas">
            <div class="col col2">
                <h3>Fuente</h3>
                <p><input type="text" name="fuente" value="" placeholder="Introduzca nombre de la fuente ..." /></p>
            </div>
            <div class="col col2">
                <h3>Ubicación de la fuente</h3>
                <p><select name="categoria">
                        <option disabled="">Introduzca ubicación de la fuente ...</option>
                        <option>&nbsp;</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select></p>
            </div>
        </div>
        <div id="limpiado"></div>
        <div id="filas">
            <div class="col col2">
                <h3>Dirección web de la fuente</h3>
                <p><input type="text" name="fuente" value="" placeholder="Introduzca url de la fuente ..." /></p>
            </div>
        </div>
        <div id="limpiado"></div>
        <div id="filas">
            <div class="col col3">
                <h3>Darknet</h3>
                <p><input type="radio" name="darknet" value="darksi" />&nbsp;SI&nbsp;&nbsp;<input type="radio" name="darknet" value="darkno" />&nbsp;NO</p>
            </div>
            <div class="col col3">
                <h3>Tipo de darknet</h3>
                <p><select name="categoria">
                        <option disabled="">Tipo de darknet ...</option>
                        <option>&nbsp;</option>
                        <option>Freenet</option>
                        <option>i2p</option>
                        <option>GNUnet</option>
                        <option>Entropy</option>
                        <option>ANts P2P</option>
                        <option>Tor</option>
                    </select></p>
            </div>
            <div class="col col3">
                <h3>Idioma</h3>
                <p><select name="categoria">
                        <option disabled="">Seleccionar idioma ...</option>
                        <option>&nbsp;</option>
                        <option>Español</option>
                        <option>Inglés</option>
                        <option>Ruso</option>
                        <option>Chino</option>
                        <option>Francés</option>
                        <option>Alemán</option>
                    </select></p>
            </div>
            <div id="limpiado"></div>
            <div id="filas">
                <div class="col col3">
                    <h3>Nivel de actividad</h3>
                    <p><select name="categoria">
                            <option disabled="">Indicar nivel de actividad ...</option>
                            <option>&nbsp;</option>
                            <option>Alta</option>
                            <option>Media</option>
                            <option>Baja</option>
                        </select></p>
                </div>
                <div class="col col3">
                    <h3>Invitación</h3>
                    <p><input type="radio" name="invitacion" value="invisi" />&nbsp;SI&nbsp;&nbsp;<input type="radio" name="invitacion" value="invino" />&nbsp;NO</p>
                </div>
                <div class="col col3">
                    <h3>Score de fiabilidad</h3>
                    <p><input type="radio" name="fiabilidad" value="cero" checked >&nbsp;0&nbsp;
                        <input type="radio" name="fiabilidad" value="uno" >&nbsp;1&nbsp;
                        <input type="radio" name="fiabilidad" value="dos" >&nbsp;2&nbsp;
                        <input type="radio" name="fiabilidad" value="tres" >&nbsp;3&nbsp;
                        <input type="radio" name="fiabilidad" value="cuatro" >&nbsp;4&nbsp;
                        <input type="radio" name="fiabilidad" value="cinco" >&nbsp;5</p>
                </div>
            </div>
        </div>
        <div id="subir">
            <input type="submit" value="Subir" />
        </div>
    </form>
</article>
{% endblock %}